doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title :: Zoom ::
    body 
        header 
            h1 Hello!
        main            
            div#welcome
                form
                    input#roomName(placeholder="방 제목" required, type="text")
                    input#name(placeholder="닉네임" required, type="text")
                    button 방 입장
                    
            
            div#room
                h3
                ul
                form#name
                    input(placeholder="닉네임" required, type="text")
                    button 변경
                form#msg
                    input(placeholder="메세지" required, type="text")
                    button 전송

    
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 